
/* Add a black background color to the top navigation */

body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    background-image: url('../img/monalisa.jpg');
}

.move-area{/*normally use body*/
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.container {
  width: 100%;
}
.lefteye {
  position: absolute;
  border-radius: 50%;
  right: 605px;
  top: 440px;
  height: 30px;
  width: 30px;
  background: #CCC;
}
.righteye {
  position: absolute;
  border-radius: 50%;
  right: 715px;
  top: 440px;
  height: 30px;
  width: 30px;
  background: #CCC;
}
.righteye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}
.lefteye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}